*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p, h2, h3, h4, div, button{
  color: #fff
}

button{
  cursor: pointer
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: #b2aeae; 
  border-radius: 6px;}

::-webkit-scrollbar-track {
  background: #504f4f; 
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

::-webkit-scrollbar-thumb:active {
  background: #737272; 
}

::-webkit-scrollbar-corner {
  background: #ddd; 
}
